:root {
    --primary-color: #F8F8F8; /* Light gray for background */
    --secondary-color: #333; /* Dark gray for text */
    --tertiary-color: #e5e5e5; /* Use primary color for headings */
    --aceent-color: #FFFFFF; /* White for card backgrounds */
    --second-accent-color: #CCCCCC; /* Light gray for borders */
}

html { 
    /* background: url('./images/rainy.jpg') no-repeat center center fixed;  */
    /* background-size: cover; */
    background-color: var(--primary-color);
    height: 100%;
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  /* Apply styles to the <body> element */
body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    font-family: Arial, sans-serif; /* Set a default font */
    line-height: 1.6; /* Adjust line height for readability */
    color: #333; /* Set a default text color */
    height: 100%;
    background-image: url('./images/rainy.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

.main-content {
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-template-rows: 0.3fr 1fr 1fr;
    height: 100%;
    row-gap: 2rem;
    overflow-y: scroll;
}
.weather-container {
    padding: 1.5rem;
    background-color: var(--secondary-color);
    border-radius: 8px;
    grid-column: 2;
    grid-row: 2 / auto;
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    grid-template-rows: 1fr 1fr;
    gap: 1em;
}

.sub-container {
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: auto auto auto;
    justify-content: space-between;
    align-content: space-evenly;
    color: var(--secondary-color);
    grid-column: 1;
    padding: 1rem;
    border-radius: 7px;
    background-color: var(--tertiary-color);
    height: 300px;
    width: 100%;
}

.weather-header {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
    grid-column: 1;
}

.weather-location {
    font-weight: bolder;
    font-size: 1.6rem;
}

.asOf {
    font-size: 1.4rem;
    font-weight: 500;
}

.weather-content {
    font-size: 1.2rem;
    grid-row: 2;
    width: 100%;
    /* overflow: hidden; */
}

.weather-summary {
    display: grid;
    grid-template-columns: 1fr 0.3fr;
    grid-template-rows: 1fr;
    height: 100%;
    align-items: center;
}

#current-temperature {
    font-size: 2.5rem;
    font-weight: 700;
}

#current-condition {
    font-size: 2rem;
    font-weight: 600;
}

.content {
    grid-column: 1;
    font-size: 1.3rem;
}

.weather-summary img {
    grid-row: 1/3;
    grid-column: 2;
    justify-self: end;
    height: 70%;
    width: auto;
}

.weather-footing {
    grid-row: 3;
    align-self: center;
    font-size: 1.5rem;
}

.query-container {
    display: flex;
    grid-column: 1 / 4;
    grid-row: 1;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: var(--secondary-color);
    height: 4em;
}

input {
    border-radius: 7px;
    font-size: 1.2rem;
}

.query-container button {
    font-size: 1.1rem;
    font-weight: 700;
    background: aliceblue;
    border-radius: 7px;
    cursor: pointer;
}

.query-container button:hover {
    transform: scale(1.2);
    transition: 0.3s;
}

.weather-heading {
    font-size: 1.6rem;
    font-weight: bold;
}

.forecast-container {
    display: flex;
    font-size: 1.2rem;
    justify-content: space-around;
    text-align: center;
    gap: 10px;
    height: 90%;
}

.timeofday {
    border: 2px solid grey;
    background-color: grey;
    border-radius: 5px;
    width: 25%;
}

/* hourly.js style */

.hourly-container {
    position: relative;
}

.slides {
    display: flex;
    width: 100%;
    max-width: 800px;
    position: relative;
    overflow: hidden;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
}

.slide {
    border: 1px solid black;
    min-width: 175px;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
    font-size: 1.2rem;
    border-radius: 7px;
}

.arrow-button {
    font-size: 2rem;
    position: absolute;
    top: 35%;
    visibility: hidden;
}

#left-button {
    left: 0;
}

#right-button {
    right: 0;
}

/* More Weather Styling */

.more-stuff {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1em;
}

.more-stuff > * {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 700;
}

.more-number {
    margin-left: auto;
}

.more-img {
  width: 60px;
  height: auto;
}

/* #wind .more-img {
    width: 40px;
    height: auto;
} */